
[submodule "vim/pack/plugins/start/syntastic"]
	path = vim/pack/plugins/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/pack/plugins/start/vimwiki"]
	path = vim/pack/plugins/start/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "vim/pack/plugins/start/surround"]
	path = vim/pack/plugins/start/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/pack/plugins/start/colorschemes"]
	path = vim/pack/plugins/start/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/pack/plugins/start/ctrlp.vim"]
	path = vim/pack/plugins/start/ctrlp.vim
    url = https://github.com/kien/ctrlp.vim.git
